/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

.appbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Define a largura para ocupar 100% da largura da tela */
  height: 50%;
  flex-direction: row;
  background-color: #f7d736;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.appbar_esq {
  display: flex;
  align-items: center;
}

.appbar_dir {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo{
  width: 80px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 10px;
}

.subtitle{
  align-self: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-top: 30px;
  width: 30%;
  height: 140px;
  border-radius: 2px;
  border-color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 30px;
}

.form-card-title{
  font-family: 'Roboto', sans-serif;
  border-width: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.autoresize{
  font-family: 'Roboto', sans-serif;
  border-width: 0;
}

.btn{
  background-color: #f7d736;
  height: 30px;
  border-width: 0;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}

.botoes_edicao{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}

.btn_salvar{
  background-color: #f7d736;
  height: 80%;
  width: 48%;
  margin: 5px;
  border-width: 0;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}

.btn_cancelar{
  background-color: #95938a;
  height: 80%;
  width: 48%;
  margin: 5px;
  border-width: 0;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}

.card-container{
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
  justify-content: space-evenly; /* Alinha os cards no centro horizontalmente */
  width: 100%;
  margin: auto;
  flex-direction: row;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.21);
  padding: 1rem;
  /* position: relative;  */
}

.card-title {
  margin-top: -3px; /* Remover qualquer margem superior padrão */
  align-self: flex-start; /* Alinhar o título ao topo */
  font-weight: bold;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 1.2rem;
  width: 100%;
}

.card-content {
  margin-top: 20px;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 1rem;
}

.alinha_botoes {
  display: flex;
  justify-content: space-around;
}

.head_card {
  display: flex;
  justify-content: space-between;
}

.botao-apaga { 
  margin: 2px;
  width: 10px;
  height: 9px;
  top: 10px; 
  right: 10px; 
}

.botao-edita { 
  margin: 2px;
  width: 10px;
  height: 9px;
  top: 10px; 
  right: 25px; 
}

.tag {
  display: flex;
  width: 50px;
  height: 20px;
  /* bottom: 1px; */
}

.tag_espec {
  display: flex;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 5px;
  margin: 2px;
  align-self: flex-start;
  background-color: #f7d736;
  border-radius: 10px;
  justify-content: center;
  color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  font-family: 'Permanent Marker', cursive;
  font-size: medium;
}

.todasTags {
  display: flex;
  padding: 6px;
  margin: 4px;
  align-self: center;
  background-color: #fcb02b;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.tags_pag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bnt_simulado {
  display: flex;
  flex-direction: row;
  padding: 6px;
  margin: 4px;
  align-self: center;
  background-color: #fcb02b;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.num_funfacts {
  display: flex;
  padding: 6px;
  margin: 4px;
  align-self: center;
  background-color: #cac3c3;
  border-radius: 6.5px;
  text-decoration: none;
  color: black;
}

.tag_ {
  text-decoration: none;
  color: black;
}

.comentario {
  display: flex;
  flex-direction: row;
  padding: 6px;
  margin: 4px;
  align-self: center;
  background-color: #fefe5fd3;
  border-radius: 4px;
  text-decoration: none;
  color: black;

}

.like_button {
  display: flex;
  color: black;
  margin: 2px;
  width: 10px;
  height: 12px;
  top: 10px; 
  right: 10px; 
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */

.card-color-1{
  background-color: #ead3a7;
}

.card-color-2{
  background-color: #9de0f5;
}

.card-color-3{
  background-color: #ef89ba;
}

.card-color-4{
  background-color: #fae890;
}

.card-color-5{
  background-color: #abe9c1;
}


.card-rotation-1{
  transform: rotate(5deg);
}

.card-rotation-2{
  transform: rotate(2deg);
}

.card-rotation-3{
  transform: rotate(-3deg);
}

.card-rotation-4{
  transform: rotate(4deg);
}

.card-rotation-5{
  transform: rotate(6deg);
}

.card-rotation-6{
  transform: rotate(7deg);
}

.card-rotation-7{
  transform: rotate(-4deg);
}

.card-rotation-8{
  transform: rotate(-2deg);
}

.card-rotation-9{
  transform: rotate(-1deg);
}

.card-rotation-10{
  transform: rotate(1deg);
}