{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <div class="appbar_esq">
        <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
        <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    </div>
    <div class="appbar_dir">
        <div>
            <a class="todasTags" href="/tag" name='tag'>
                <h3>Tags</h3>
            </a>
        </div>
        <div>
            <a class="bnt_simulado" href="/simulado" name='simulado'>
                <h3>Simulado</h3>
            </a>
        </div>
        <div>
            <a class="bnt_simulado" href="/voltar" name='voltar'>
                <h3>Menu</h3>
            </a>
        </div>
    </div>
</div>

<main class="container">
    <div class="card-container">
        {% for note in notes %}
        <div class="card">
            <div class="head_card">
                <div>
                    <h3 class="card-title">{{note.title}}</h3>
                </div>
                <div class="alinha_botoes">
                    <a href="delete/{{note.id}}" name = 'delete_button'>
                        <img class="botao-apaga" src="{% static 'notes\img/54324.png' %}" />
                    </a>
                    <a href="update/{{note.id}}" name='edit'>
                        <img class="botao-edita" src="{% static 'notes\img/editar.png' %}" />
                    </a>
                </div>
            </div>
            <div class="card-content">
                <p>{{note.content}}</p>
            </div>
            <a class="/tag_espec" href="" name='tag_espec'>
                {{note.tag.titulo}}
            </a>
        </div>
        {% endfor %}
    </div>
</main>

<script type="text/javascript" src="{% static 'notes\script\getit.js' %}"></script>
{% endblock %}